.wrapper {
  display: flex;
  justify-content: center;
}

.inner {
  max-width: 960px;
  width: 100%;
  padding: 15px;
}

.entryItem {
  padding: 25px 0;
  border-top: 1px solid var(--color-gray);
}

.openingSentence {
  color: var(--color-gray);
  margin: 10px 0 30px;
  line-height: 2.3rem;
  font-size: 1.7rem;
}

.title {
  font-size: 2.4rem;
}

.readMore {
  font-size: 1.6rem;
  color: var(--color-blue);
}

.publishedAt {
  font-size: 1.7rem;
  color: var(--color-gray);
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
