@use "styles/mixin" as mixin;

.wrapper {
  display: flex;
  justify-content: center;
}

.inner {
  @include mixin.narrow-content;

  padding: 10px;
}

.categoryies {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-item {
  padding: 5px 8px;
  margin-right: 5px;
  border-radius: 12px;
  border: 1px solid var(--color-blue);
  background-color: #4e9fd545;
}

.title {
  padding: 10px 0;
  font-size: 2.5rem;
}

.body {
  padding: 10px 0;
  line-height: 3rem;
  font-size: 1.7rem;
  color: var(--color-gray);
}

.published-at {
  font-size: 1.5rem;
  color: var(--color-gray);
}

.browserBack {
  padding: 10px 0;
  font-size: 1.5rem;
  color: var(--color-blue);
  text-align: center;
}
